/* 
    Document   : form
    Created on : 04/08/2010, 11:48:54
    Author     : udismar oaks junior
    Description:
        Purpose of the stylesheet follows.
*/


input, select, textarea, checkbox, radio, file {
    font-family: Verdana;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
body {
    /*tirar as margem da pagina*/
    margin:0;
    padding:0;
    /*tamanho padrao da fonte*/
    font-size:12px;
    /*fonte padrao*/
    font-family:Verdana;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    
}

